<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/main">
<head>
<title>HOME</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h3>Admin Portal</h3>
					<div class="bg-danger" th:if="${param.error}">Invalid
						Username or password</div>
					<div class="bg-danger" th:if="${param.logout}">You have been
						logged out</div>
					<form class="" th:action="@{/login}" method="post">
						<h2 class="form-signin-heading">Please Sign in</h2>
						<div class="form-group">
							<label for="username" class="sr-only">Username</label> <input
								type="text" class="form-control" placeholder="Username"
								name="username" id="username" required="required"
								autofocus="autofocus" />

						</div>

						<div class="form-group">
							<label for="password" class="sr-only">Password</label> <input
								type="password" class="form-control" placeholder="Password"
								name="password" id="password" required="required"
								autofocus="autofocus" />

						</div>
						<button class="btn btn-block btn-primary" type="submit">Sign
							In</button>
					</form>
				</div>
			</div>
		</div>


	</div>


</body>
</html>