<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/navbar-top.css">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" th:href="@{/}">Book Store</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarCollapse" aria-controls="navbarCollapse"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item " th:classappend="${classActiveHome}?'active'"><a class="nav-link" th:href="@{/}">Home </a></li>

				<li class="nav-item"><form class="form-inline mt-2 mt-md-0">
					<input class="form-control mr-sm-2" type="text"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form></li>
			</ul>

			<ul class="navbar-nav navbar-dark navbar-right">
				<li class="nav-item"><a class="nav-link">Shopping Cart</a></li>
				<li class="nav-item" th:classappend="${activeMyAccount}?'active'"><a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/myaccount}">My Account</a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()" th:classappend="${activeMyAccount}?'active'"><a  class="nav-link" th:href="@{/myprofile}">My Profile</a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a  class="nav-link" th:href="@{/logout}">Logout</a></li>

			</ul>

		</div>

	</nav>

	<div layout:fragment="content"></div>

	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>