<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/navbar-top.css}" />
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" th:href="@{/}">Admin Portal</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarCollapse" aria-controls="navbarCollapse"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item " th:classappend="${classActiveHome}?'active'"><a
					class="nav-link" th:href="@{/book/add}">Add new Book </a></li>
				<li class="nav-item " th:classappend="${classActiveHome}?'active'"><a
					class="nav-link" th:href="@{/book/viewBook}">View Book List </a></li>


			</ul>

			<ul class="navbar-nav navbar-dark navbar-right">
				<li class="nav-item"><a th:href="@{/logout}" class="nav-link">Sign
						Out</a></li>
			</ul>

		</div>

	</nav>

	<div class="container">

		<div layout:fragment="content"></div>
	</div>
	<div class="footer mb-5">
	</div>

	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>